@page "{id}"
@model RazorApp.Web.Pages.Customers.EditModel

<h3 class="text-center">Customer "@Model.CustomerModel.Name"</h3>

<hr />

<form method="post" enctype="multipart/form-data">
    <input asp-for="CustomerModel.Id" hidden />
    <div class="form-group">
        <div class="form-group">
            <img src="~/Images/Customers/@Model.CustomerModel.ImageUrl" width="200" height="200" id="imgElement" asp-append-version="true" />
        </div>
        <div class="form-group">
            <input type="file" asp-for="CustomerModel.Image" class="form-control" id="inputElement" onchange="setSrc()" />
        </div>
        <input asp-for="CustomerModel.ImageUrl" hidden />
    </div>
    <div class="form-group">
        <label>Code</label>
        <input asp-for="CustomerModel.Code" class="form-control" />
        <span asp-validation-for="CustomerModel.Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input asp-for="CustomerModel.Name" class="form-control" />
        <span asp-validation-for="CustomerModel.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Contact</label>
        <input asp-for="CustomerModel.Contact" class="form-control" />
        <span asp-validation-for="CustomerModel.Contact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Address</label>
        <textarea asp-for="CustomerModel.Address" class="form-control"></textarea>
        <span asp-validation-for="CustomerModel.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>City</label>
        <input asp-for="CustomerModel.City" class="form-control" />
        <span asp-validation-for="CustomerModel.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Postal Code</label>
        <input asp-for="CustomerModel.Postal" class="form-control" />
        <span asp-validation-for="CustomerModel.Postal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input asp-for="CustomerModel.Phone" class="form-control" />
        <span asp-validation-for="CustomerModel.Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="CustomerModel.Email" class="form-control" />
        <span asp-validation-for="CustomerModel.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Web Address</label>
        <input asp-for="CustomerModel.Web" class="form-control" />
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Save Changes</button>
        <button type="submit" class="btn btn-danger" asp-page-handler="Delete" onclick="return confirm('Are you sure you want to delete this Customer?')">Delete</button>
    </div>
</form>
